<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS tutorial</title>
    <link href="styles.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="vue-app">
    <h1>Looping through lists</h1>
    <ul>
        <li v-for="character in characters">{{character}}</li>
    </ul>
    <ul>
        <li v-for="(ninja, index) in ninjas"> {{index}}. {{ninja.name}} - {{ ninja.age }}</li>
    </ul>
    <template v-for="(ninja, index) in ninjas">
        <h3>{{ index }}. {{ ninja.name }}</h3>
        <p>{{ ninja.age }}</p>

    </template>
    <template v-for="ninja in ninjas">
        <div v-for="(val,key) in ninja">
            <p>{{key}} - {{ val }}</p>
        </div>

    </template>
</div>
<script src="app.js"></script>
</body>
</html>